<div id="about">
			<h3>About AECoder</h3>
			<p>AECoder job board lets coders access to the latest Google AppEngine related jobs.<br/>
			AECoder provides market place for startups and companies hosted using Google AppEngine to look for their best peoples.
			</p>
			<p align="center"><a id="postjob" href="/job/new" title="Post new job" rel="nofollow">Post your job now</a><br/><b>Free</b></p>
</div>

<div id="jobbox" style="margin-top: 5px;">
<script src="http://{{ request.environ.HTTP_HOST }}/jobbox.js"></script>
<script type="text/javascript">
var boxwidth = 250; 
showjobbox(boxwidth); 
</script>
</div> 