<h1>{{ userlisttype }}</h1> 
{% if pagenav %}<div style="text-align: right">{{ pagenav }}</div>{% endif %}
	<table>
		<tr>
			<th>User</th>
			<th>Skills</th>
			<th>Email</th>
			<th>Last Update</th>
			<th>Last Login</th>
		</tr>
	{% for user in users %}
		<tr>
			<td>{{ user.created|date:"j M" }}</td>
			<td><a href="/user/{{ user.key }}">{{ user.title }}</a></td>
			<td>{{ user.company }}</td>
			<td>{{ user.category|capfirst }}</td>
			<td>{{ user.category|capfirst }}</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td colspan="3">
				{{ user.description|truncatewords:"15" }} ...
			</td>
	{% endfor %}
	</table>
{% if pagenav %}<div style="text-align: right">{{ pagenav }}</div>{% endif %}

